<%-include("../Partials/header")%>
<body>
        <form method="POST" >
        <div class="wrapper">
            <%=presentation.slideno%>
        <!-- <div id="a" style="height: 20px;"></div> -->
        <textarea name="head" class="input-ppt-head" id="ahead" type="text" placeholder="Click to add Head"></textarea>
        <textarea name="body"class="input-ppt-body" type="text" placeholder="Click to add Body"></textarea>
        </div>
        <div class="left">
            <button id="left" onclick="left()">Left</button>
            <button id="save" formaction="/<%-presentation.id%>/save" type="submit">Save</button>
            <button id="right" onclick="right()">Right</button>
        </div>
    
    </form>
    </div>
</body>
</html>
